.formSection{
  position: relative;

  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;

  box-sizing: border-box;
  border: 1px solid var(--on-primary-color);
  border-radius: 5px;

  background-color: var(--primary-color);
  color: var(--on-primary-color);
}

.form_inputWrapper {
  margin-bottom: 10px;
}

.form_inputWrapper input {
  width: 250px;
  height: 20px;
  margin-right: 20px;
  padding: 5px;

  border: none;
  border-bottom: 1px solid var(--secondary-color);

  background-color: transparent;

  font-size: 18px;
  font-weight: bold;
  color: inherit;

  transition: all 0.2s ease-in;
}

.form_inputWrapper input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: normal;
  color: inherit;
  opacity: 0.7; /* Firefox */
}

.form_inputWrapper input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: normal;
  color: inherit;
  opacity: 0.7;
}

.form_inputWrapper input::-ms-input-placeholder { /* Microsoft Edge */
  font-weight: normal;
  color: inherit;
  opacity: 0.7;
}

.form_inputWrapper input:focus {
  outline: none;
  border-bottom-color: var(--accent-color);
  color: var(--accent-color);
}

.form_checkboxWrapper label {
  padding-left: 5px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: inherit;
}

.form_checkboxWrapper input {
 vertical-align: text-bottom;
}

.form__submitBtn {
 position: absolute;
 top: 50%;
 right: 20px;

 width: 40px;
 height: 40px;

 margin: 0;
 padding: 0;
 
 background-color: var(--primary-color);
 border: 1px solid var(--on-primary-color);
 border-radius: 5px;

 transform: translateY(-50%);
 
 font-size: 35px;
 line-height: 35px;
 text-align: center;
 color: var(--on-primary-color);
 
 cursor: pointer;
 transition: all 0.2s ease-in;
 transform-origin: center;
}

.form__submitBtn::after {
  content: "\002B";
}

.form__submitBtn:hover,
.form__submitBtn:focus    {
  animation: none;

  border-color: var(--accent-color);
  background-color: var(--on-accent-color);
  color: var(--accent-color);
}