.list {
  margin: 0 auto;
  margin-top: 30px;
  display: block;

  /* border: 1px solid red; */
}

.list ul {
  width: calc(100% - 2 * var(--side-margin));
  list-style: none;
  margin: 0 auto;
  padding: 0;

  display: grid;
  gap: 20px 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}