.item {
  width: 100%;
  display: block;
  background-color: var(--see-through-white-color);
  width: 60%;

  margin: 0 auto;
  padding: 10px 10px 10px 40px;
  border-radius: 10px;

  position: relative;
  border: 2px solid var(--white-color);
  justify-self: end;
  align-self: flex-end;
  z-index: 5;

  transition: all 0.6s ease-out;
}

.item:last-child {
  margin-bottom: 0;
}

.item h3 {
  margin: 0;
  color: var(--dark-blue-color);
  font-size: 18px;
  font-weight: bold;
}

.item p {
  margin: 0;
  color: var(--dark-blue-color);
  font-size: 15px;
}

.item p::before {
  
  content: "\2014";
  padding-right: 5px;
}

.itemBtn {
  cursor: pointer;
}

.itemBtn_done {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 3px solid var(--white-color);
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  transform-origin: center;
  font-size: 25px;
  transition: all 0.2s ease-in-out;
  
}

/* крестик -  \2716*/
/* галочка -  \2714*/
/* точка -  \2022*/
/* жирная точка - \25CF */
/* длинное тире - \2014 */

.itemBtn_done::after {
  /* точка */
  content: '\25CF';
  color: var(--dark-blue-color);
}
.itemBtn_done:hover {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  box-shadow: 0 0 0 10px var(--see-through-light-grey-color);
}
.itemBtn_done:hover::after {
  /* галочка */
  content: '\2714';
  opacity: 1;
  color: var(--white-color);
}
.item_done .itemBtn_done {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
}
.item_done .itemBtn_done::after {
  /* галочка */
  content: '\2714';
  color: var(--white-color);
}
.item_done .itemBtn_done:hover::after {
  /* точка */
  content: '\25CF';
  opacity: 1;
  color: var(--dark-blue-color);
}
.item_done .itemBtn_done:hover {
  background-color: var(--white-color);
  color: var(--dark-blue-color);
}



.itemBtn_delete {
  width: 25px;
  height: 25px;

  background-image: url("../../images/trashcan_delete_remove_trash_icon_178327.svg");
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;

  opacity: 0.5;

  position: absolute;
  right: 5px;
  bottom: 5px;

  transition: all 0.2s ease-in;
}

.itemBtn_delete:hover {
  opacity: 0.8;
}








.item_important {
  background-color: var(--see-through-dark-blue-color);
}

.item_important h3,
.item_important p {
  color: var(--white-color);
}

.item_important h3::before {
  content: "\2605";
  padding-right: 5px;
}


.item_done {
  background-color: var(--see-through-light-grey-color);
}

.item_done h3,
.item_done p  {
  color: var(--see-through-black-color);
}

@keyframes fallingDown {
  to {
    opacity: 0.5;
    transform: translateY(1000%) rotate(50deg);
    transform-origin: top left;
  }
  
}

.item_deleteAnimation {
  z-index: 1;
  animation: fallingDown 1s cubic-bezier(.63,-0.28,.37,1.32);
  
  /* cubic-bezier(.37,-0.22,.48,1.47); */
}