@keyframes fallingDown {
  to {
    opacity: 0.5;
    transform: translateY(1000%) rotate(50deg);
    transform-origin: top left;
  }
}

.item {
  justify-self: end;
  align-self: flex-end;

  display: flex;
  position: relative;
  align-items: center;

  width: 100%;
  
  margin: 0 auto;
  padding: 10px 10px 10px 15px;

  box-sizing: border-box;

  border: 1px solid var(--on-primary-color);
  border-radius: 5px;

  background-color: var(--primary-color);

  color: var(--on-primary-color);

  z-index: 5;
}

.item:last-child {
  margin-bottom: 0;
}

.item__wrapper {
  margin: 0;
  margin-right: auto;
}

.item__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
}

.item__price {
  display: block;
  margin: 0;
  font-size: 13px;
  color: inherit;
}

.item__price::before {
  content: "\2013";
  padding-right: 5px;
}

.item__btn {
  width: 30px;
  height: 30px;
  margin: 0;
  margin-right: 5px;
  padding: 0;

  border: 1px solid var(--secondary-color);
  border-radius: 5px;

  font-size: 22px;
  line-height: 22px;
  text-align: center;

  cursor: pointer;
}

.item__btn:last-child {
  margin-right: 0;
}

.item__btn_done {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--on-accent-color);
}

/* галочка - \2714 */
.item__btn_done::before {
  content: "\2714";
}

.item__btn_delete {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
}

/* крестик - \2716 */
.item__btn_delete::before {
  content: "\2716";
}

.item_important {
  border-color:  var(--accent-color);
  box-shadow: 0 0 3px var(--accent-color), 0 0 2px white;
}

.item_important .item__title, 
.item_important .item__price {
  color: var(--accent-color);
}

.item_done .item__title, 
.item_done .item__price {
  opacity: 0.5;
  text-decoration: line-through;
}

.item_deleteAnimation {
  z-index: 1;
  animation: fallingDown 1s cubic-bezier(.63,-0.28,.37,1.32);
}
