.goal-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  width: 400px;

  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  background-color: rgb(17, 0, 255, 0.2);

}

.goal-popup_active {
  transform: translate(-50%, -50%) scale(1);
}

.goal-popup_active .popup {

  margin: 0;



  background-color: lightblue;
  color: red;
}