.app {
  min-height: 100vh;

  background-color: hsl(240, 3%, 14%);

  /* background-image: url("./images/jan-baborak-n9dTKxMjheE-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size: cover;
  background-clip: border-box; */

  padding: 0;
  margin: 0;

  /* NEW SET */
  --side-margin: 30px;

  --primary-color: hsl(240, 3%, 14%);
  --on-primary-color: hsl(240, 3%, 90%);

  --secondary-color: hsl(240, 3%, 90%);
  --on-secondary-color: hsl(240, 3%, 14%);

  /* --accent-color: hsl(43, 94%, 65%); */
  --accent-color: #f9e044;
  /* --accent-color: #ffe11d; */
  --on-accent-color: hsl(240, 3%, 14%);
}

.app__body {
  padding-top: 130px;
}

.app__wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  width: calc(100% - 2 * var(--side-margin));

  margin: 0 auto;
  padding: 0;
}


